# Logs & OS
.DS_Store
*.log

# Environment variables
.env
.env.local

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
build/
client/dist/
client/build/
.react-router/
